<!--
  Generated template for the AirportsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Airports</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <toggle-card *ngFor="let continent of world.continents">

        <div class="toggle-card-header">
            <ion-card-title>{{ continent.name }}</ion-card-title>
            <p>{{ continent.countries.length }} {{ continent.countries.length > 1 ? 'Countries' : 'Country' }}</p>
        </div>

        <div class="toggle-card-content">
            <toggle-card *ngFor="let country of continent.countries">

                <div class="toggle-card-header">
                    <ion-card-title>{{ country.name }}</ion-card-title>
                    <p>{{ country.cities.length }} {{ country.cities.length > 1 ? 'Cities' : 'City' }}</p>
                </div>

                <div class="toggle-card-content">
                    <toggle-card *ngFor="let city of country.cities">

                        <div class="toggle-card-header">
                            <ion-card-title>{{ city.name }}</ion-card-title>
                            <p *ngIf="city.airports.length > 1">{{ city.airports.length }} Airports</p>
                        </div>

                        <div class="toggle-card-content">
                            <ion-card>
                                <ion-card-content>

                                    <airport-info [airport]="airport" *ngFor="let airport of city.airports"></airport-info>
                                    
                                </ion-card-content>
                            </ion-card>

                        </div>

                    </toggle-card>
                </div>

            </toggle-card>
        </div>

    </toggle-card>

</ion-content>